.title{
   background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(3,3,3,0.7663865717185312) 54%, rgba(252,176,69,1) 100%);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20.0px );
-webkit-backdrop-filter: blur( 20.0px );
border-radius: 0px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  text-align: center;
}
.rep{
  color: #fff;
}
.cert{
  color: #f0f0f0;
  font-size: 2rem;
}
.mo{
  margin-top: 50px;
}
h1{
  color: #fff;
  font-family: 'Charmonman', cursive;
  font-size: 5rem;
  font-weight: 900;
  margin-top: 0px;
}
h3{
  color: #fff;
  font-family: 'Lateef';
  line-height: 1.5rem;
  margin-bottom: 50px;
}
.col{
  font-family: 'Langar';
  font-size: 1.5rem;
}
h2{
  font-family: 'Charmonman';
  font-size: 3rem;
}
#About{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 0px;
background: #ff8605;
box-shadow: inset 2px -2px 5px #d16e04, 
            inset -2px 2px 5px #ff9e06;
}
#Certifications{
  background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(3,3,3,0.7663865717185312) 54%, rgba(252,176,69,1) 100%);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20.0px );
-webkit-backdrop-filter: blur( 20.0px );
border-radius: 0px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.clert{
  text-align: center;
}
img{
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  padding-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#contact{
  text-align: center;
  background: #ff8605;
box-shadow: inset 2px -2px 5px #d16e04, 
            inset -2px 2px 5px #ff9e06;
}
.fab{
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 50px;
  color: black;
}
.fab:hover{
  color: pink;
}